h1{
    text-align: center;
    font-size: x-large;
}
footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: darkslategray;
    color: white;
}

footer p {
    font-size: 20px;
    padding: 15px 0;
}

img{
    display: block;
    padding: 5px;
    animation: fade 15s;
    
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}