/*Home Page html*/
* {
    margin: 0;
    box-sizing: border-box;
}

p, li {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2rem;
}


h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #ff7e1b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 1rem 0;
    font-family: 'Young serif', serif;
    background-color: #068f5f;
    color: #ff7e1b;
    font-size: smaller;
    text-align: center;
    position: relative;
    width: 100%;
}

header img {
    width: 20%;
}

#dark-mode {
    position: absolute;
    right: 10px;
    top: 10px;
    border-color: #ff7e1b;
    background-color: #068f5f;
    color: #ff7e1b;
}

nav {
    background-color: #068f5f;
    margin: 10px 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin: 0 150px;
}
.hero img{
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    margin: 0;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #068f5f;
    color: #ff7e1b;
}


/*This part is for discover.html document*/
#discover {
    margin: 10px 0;
    width: 100%;
}

.sidebar-box {
    padding: 2rem;
    margin: 10px auto;
    background-color: #068f5f;
    color: #7ddbfa;
}

.sidebar-box h2 {
    text-align: center;
    margin-bottom: 20px;
}


#images {
    text-align: center;
    background-color: #068f5f;
    color: #ff7e1b;
    padding-top: 20px;
    width: 100%;
}

#images img {
    margin-bottom: 70px;
    width: 98%;
}

#images h3{
    margin-bottom: 18px;
}


