/*Home Page html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, li {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2rem;
}


h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #ff7e1b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 1rem 0;
    font-family: 'Young serif', serif;
    background-color: #068f5f;
    color: #ff7e1b;
    font-size: smaller;
    text-align: center;
    position: relative;
    width: 100%;
}

header img {
    width: 20%;
}

#dark-mode {
    position: absolute;
    right: 10px;
    top: 10px;
    border-color: #ff7e1b;
    background-color: #068f5f;
    color: #ff7e1b;
}

nav {
    background-color: #068f5f;
    margin: 10px 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin: 0 150px;
}
.hero img{
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    margin: 0;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #068f5f;
    color: #ff7e1b;
}


/*This part is for discover.html document*/
#discover {
    margin: 10px 0;
    width: 100%;
}

.sidebar-box {
    padding: 2rem;
    margin: 10px auto;
    background-color: #068f5f;
    color: #7ddbfa;
}

.sidebar-box h2 {
    text-align: center;
    margin-bottom: 20px;
}


#images {
    text-align: center;
    background-color: #068f5f;
    color: #ff7e1b;
    padding-top: 20px;
    width: 100%;
}

#images img {
    margin-bottom: 70px;
    width: 98%;
}

#images h3{
    margin-bottom: 18px;
}

/*Join HTML*/

#join {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    width: 100%;
}
#join form{
    text-align: left;
    width: 100%;
}

#join fieldset {
    background-color: #05698A;
}

textarea {
    display: block;
    width: 22rem;
    height: 5rem;
    margin-top: 0.8rem;
}

label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #ff7e1b;
    margin: 2rem 0;
    font-size: large;
}

input {
    display: block;
    padding: .4rem;
    margin-top: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    width: 20rem;
}

#nonprofit, #bronze, #silver, #gold{
    display: inline;
}

form button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: block;
    padding: 0.8rem;
    font-size: xx-large;
    background-color: #EDEBE9;
    border: #ff7e1b 1px solid;
    color: #ff7e1b;
}

form button {
    box-shadow: 0 0 15px #ff7e1b;
}

.radio {
    display: inline;
}

#bronze, #silver, #nonprofit, #gold {
    width: fit-content;
}

#membership-levels {
    background-color: #05698A;
    color: #ff7e1b;
    padding: 0 3rem;
    margin-bottom: 10px;
    padding-bottom: 2rem;
}
#membership-levels h1 {
    margin: 3rem 0;
}
#membership-levels h2 {
    margin: 1rem 0;
}

/* thankyou.html */

#thankyou section {
    background-color: #05698A;
    color: #ff7e1b;
    margin-bottom: 10px;
    padding: 1rem;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 20rem;
}


/* DIRECTORY.HTML */

#directory-main {
    padding: 50px;
    text-align: center;
}

#directory-main #grid-view-btn,
#directory-main #list-view-btn {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#directory-main #member-directory.grid-view .member-card {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    border: 4px solid black;
    padding: 10px;
    box-sizing: border-box;
}

#directory-main #member-directory.list-view .member-card {
    display: block;
    width: 100%;
    margin: 10px 0;
    border: 4px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#directory-main .member-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#directory-main .member-card h3 {
    margin: 10px 0;
}

#directory-main .member-card p,
#directory-main .member-card a {
    margin: 5px 0;
}

