@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
* {
    font-family: 'Kanit', sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #05698A;
    color: white;
    text-align: center;
}

header img {
    padding: 30px 0;
    margin: 0 auto;
}
#hero{
    width: 100%;
    object-fit: cover;
    position: static;
}

#hero-label {
	position: absolute;
	top: 500px;
	left: 30px;
	background: radial-gradient(#fff, #05698A);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}
#hero-label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}

header h1 {
    padding: 65px 0;
    font-size: 40px;
}
h1{
    text-align: center;
    
}

nav {
    width: 100%;
    margin: 1rem auto;
}
#picture{
    width: 200px;
}
#menu {
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 1rem 2rem;
    background-color: #99B2DD;
}

#menu::before {
    content: "☰";
}

.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #068f5f;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navigation li a:hover {
    color: darkslategray;
    text-decoration: underline;
}

.navigation li a:visited {
    color: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}
.long-line{
    color: black;
    border-bottom: 1px solid black; 
    margin: 5px 5px 5px 5px;
    grid-column: 1/3;
}
main {
    width: 100%;
    text-align: center;
}

main h2 {
    font-size: 35px;
    color: #05698A;
}

main h2:after {
    content:' ';
    display:block;
    border:3px solid #05698A;
}

.card {
    border: black solid;
    display: grid;
    margin: 30px 0;
}


.card ul {
    list-style: none;
    font-size: 20px;
}

.card ul li{
    padding: .8rem;
    text-align: left;
}

.card ul li a{
    color: black;
    text-decoration: none;
}

.card ul li a:visited{
    color: black;
}

.card ul li a:hover{
    text-decoration: underline;
}

.card ul p{
    display: inline;
}

iframe{
    width: 90%;
    align-items: center;
    padding: 100px;
}

#weather-card img
{
    display: block;
    margin: 0 auto;
}

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #05698A;
    color: white;
}

footer p {
    font-size: 20px;
    padding: 15px 0;
}

#lastModified {
    padding-bottom: 30px;
    color: #F9DEC9;
}

/* Dark Button*/

#mode{
    position: absolute;
    top: 1rem; right: 1rem;
    width: 50px;
    background-color: #05698A;
    cursor: pointer;
}

header{
    position: relative;
}
